@import "tailwindcss";
@tailwind components;
@tailwind utilities;

/* clerk avtar adjustment */
.cl-avatarBox{
width: 3rem;
height: 3rem;
}

.arrows{
    width: 40px;
height: 40px;
margin: 1px;
}

body {
  overflow-x: hidden;
}
